.Navigation {
  position: fixed;
  top: 0px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  transition: height 0.5s ease 0s;
  background-color: rgb(27, 27, 58);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 10px 0px;
  z-index: 1;
}

.contact-container {
  position: relative;
  display: inline-block;
}

.contact-container:hover {
  cursor: pointer;
}

.link {
  margin: 10px;
}

.contact-link-container .contact-icons {
  margin-right: 10px;
  margin-top: 5px;
}

.contact-link-container .contact-icons a {
  font-size: 1rem;
  color: #ffffff;
}

.active-link.nav-link,
.active-link .nav-link {
  color: white !important;
}

.navbar-brand.active:hover {
  color: rgb(219, 62, 0);
}

.navbar-link {
  color: #bdbde0;
  font-size: 20px;
  text-decoration: none;
}

.navbar-link:hover,
.navbar-brand:hover {
  color: rgb(219, 62, 0);
}

.navbar-left {
  margin-left: 20px;
  color: rgb(78, 78, 78);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
