.Projects {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.Projects-project-list {
  padding: 20px;
  background-color: rgb(40, 40, 85);
  border-radius: 5px 5px 30px 30px;
  line-height: 1.5;
}

.Projects-title {
  font-size: 160px;
  margin-bottom: -70px;
  font-weight: bold;
  font-style: italic;
  color: rgb(40, 40, 85);
  display: flex;
  -webkit-box-pack: end;
  justify-content: end;
  font-family: Share Tech, sans-serif;
  padding-top: 40px;
}

.Projects-project {
  display: flex;
  align-items: center;
  margin: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-top: solid rgb(219, 62, 0);
  color: #bdbde0;
}

.Projects-img {
  width: 40%;
  height: 200px;
  padding: 5px;
  border-radius: 10px;
}

.Projects-info {
  width: 60%;
}

/* Additional styling */
.Projects-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(219, 62, 0);
}

.Projects-description {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  color: #bdbde0;
}

a:hover {
  color: rgb(219, 62, 0);
}

.Projects-links {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.Projects-links div {
  flex: 1 0 33%;
  margin-bottom: 5px;
}
