.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  max-width: 60%;
  background: none;
  color: white;
}

.Title-content {
  margin-bottom: 40px;
}

h1 {
  margin: 20px;
}

.Title-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Title-link {
  display: inline-flex;
  justify-content: center;
  border: 1px solid white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
}

.Title-link-list {
  margin-left: -25px;
}

.Title-img {
  width: 300px;
  border-radius: 5px;
}
